@page "/"
@using ShopOnline.Models.Dtos;
@using ShopOnline.Web.Pages;
@inherits ProductsBase

@if (Products == null)
{
    <h3>Products Loading....</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if (productCount > 0)
    { 

        @foreach (var prodGroup in GetProductsByGroupCategory())
            {
            <div class="row mt-3">
                <h4>@GetCategoryName</h4>

                <DisplayProducts Products="@prodGroup"></DisplayProducts>
            </div>
            <hr class="mb-3"/>
            }
          
           
    }
}
