@page "/"
@using ShopOnline.Models.Dtos;
@using ShopOnline.Web.Pages;
@inherits ProductsBase

<h3>Products</h3>
@if(Products == null)
{
    <h3>Products Loading....</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if(productCount > 0)
    {
        const int itemsPerRow = 4;
        var productRowList = new List<ProductDto>();

       @for(int i = 0; i < productCount; i++)
        {
            productRowList = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
        }
    }
}

